In [91]:
import pandas as pd
import numpy as np

In [92]:
df = pd.read_csv('train1.csv')

In [93]:
print(df.head(100))

    User_ID Product_ID Gender    Age  Occupation City_Category  \
0   1000001  P00069042      F   0-17          10             A
1   1000001  P00248942      F   0-17          10             A
2   1000001  P00087842      F   0-17          10             A
3   1000001  P00085442      F   0-17          10             A
4   1000002  P00285442      M    55+          16             C
5   1000003  P00193542      M  26-35          15             A
6   1000004  P00184942      M  46-50           7             B
7   1000004  P00346142      M  46-50           7             B
8   1000004   P0097242      M  46-50           7             B
9   1000005  P00274942      M  26-35          20             A
10  1000005  P00251242      M  26-35          20             A
11  1000005  P00014542      M  26-35          20             A
12  1000005  P00031342      M  26-35          20             A
13  1000005  P00145042      M  26-35          20             A
14  1000006  P00231342      F  51-55           9             A
15  1000006  P00190242      F  51-55           9             A
16  1000006   P0096642      F  51-55           9             A
17  1000006  P00058442      F  51-55           9             A
18  1000007  P00036842      M  36-45           1             B
19  1000008  P00249542      M  26-35          12             C
20  1000008  P00220442      M  26-35          12             C
21  1000008  P00156442      M  26-35          12             C
22  1000008  P00213742      M  26-35          12             C
23  1000008  P00214442      M  26-35          12             C
24  1000008  P00303442      M  26-35          12             C
25  1000009  P00135742      M  26-35          17             C
26  1000009  P00039942      M  26-35          17             C
27  1000009  P00161442      M  26-35          17             C
28  1000009  P00078742      M  26-35          17             C
29  1000010  P00085942      F  36-45           1             B
..      ...        ...    ...    ...         ...           ...
70  1000018  P00366542      F  18-25           3             B
71  1000018  P00190742      F  18-25           3             B
72  1000018  P00151842      F  18-25           3             B
73  1000018  P00112642      F  18-25           3             B
74  1000018  P00118442      F  18-25           3             B
75  1000018  P00034442      F  18-25           3             B
76  1000018  P00222242      F  18-25           3             B
77  1000018  P00118342      F  18-25           3             B
78  1000018  P00324742      F  18-25           3             B
79  1000018  P00190042      F  18-25           3             B
80  1000018   P0094142      F  18-25           3             B
81  1000018  P00138542      F  18-25           3             B
82  1000018  P00158542      F  18-25           3             B
83  1000018  P00157542      F  18-25           3             B
84  1000018  P00044142      F  18-25           3             B
85  1000019  P00112542      M   0-17          10             A
86  1000019  P00339542      M   0-17          10             A
87  1000019  P00127842      M   0-17          10             A
88  1000019  P00125942      M   0-17          10             A
89  1000019  P00251342      M   0-17          10             A
90  1000019  P00249642      M   0-17          10             A
91  1000019  P00124842      M   0-17          10             A
92  1000019  P00250642      M   0-17          10             A
93  1000019  P00058142      M   0-17          10             A
94  1000019  P00117442      M   0-17          10             A
95  1000019  P00251642      M   0-17          10             A
96  1000019  P00244842      M   0-17          10             A
97  1000021  P00220242      M  18-25          16             B
98  1000022  P00351142      M  18-25          15             A
99  1000022  P00213242      M  18-25          15             A

   Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                           2               0                   3
1                           2               0                   1
2                           2               0                  12
3                           2               0                  12
4                          4+               0                   8
5                           3               0                   1
6                           2               1                   1
7                           2               1                   1
8                           2               1                   1
9                           1               1                   8
10                          1               1                   5
11                          1               1                   8
12                          1               1                   8
13                          1               1                   1
14                          1               0                   5
15                          1               0                   4
16                          1               0                   2
17                          1               0                   5
18                          1               1                   1
19                         4+               1                   1
20                         4+               1                   5
21                         4+               1                   8
22                         4+               1                   8
23                         4+               1                   8
24                         4+               1                   1
25                          0               0                   6
26                          0               0                   8
27                          0               0                   5
28                          0               0                   5
29                         4+               1                   2
..                        ...             ...                 ...
70                          3               0                   5
71                          3               0                   3
72                          3               0                   4
73                          3               0                   1
74                          3               0                   1
75                          3               0                   1
76                          3               0                   1
77                          3               0                   2
78                          3               0                   2
79                          3               0                   3
80                          3               0                   4
81                          3               0                   5
82                          3               0                   5
83                          3               0                   8
84                          3               0                   8
85                          3               0                   1
86                          3               0                   1
87                          3               0                   1
88                          3               0                   1
89                          3               0                   5
90                          3               0                   3
91                          3               0                  11
92                          3               0                  11
93                          3               0                   3
94                          3               0                   5
95                          3               0                   1
96                          3               0                  11
97                          0               0                   3
98                         4+               0                   1
99                         4+               0                   5

    Product_Category_2  Product_Category_3  Purchase
0                  NaN                 NaN      8370
1                  6.0                14.0     15200
2                  NaN                 NaN      1422
3                 14.0                 NaN      1057
4                  NaN                 NaN      7969
5                  2.0                 NaN     15227
6                  8.0                17.0     19215
7                 15.0                 NaN     15854
8                 16.0                 NaN     15686
9                  NaN                 NaN      7871
10                11.0                 NaN      5254
11                 NaN                 NaN      3957
12                 NaN                 NaN      6073
13                 2.0                 5.0     15665
14                 8.0                14.0      5378
15                 5.0                 NaN      2079
16                 3.0                 4.0     13055
17                14.0                 NaN      8851
18                14.0                16.0     11788
19                 5.0                15.0     19614
20                14.0                 NaN      8584
21                 NaN                 NaN      9872
22                 NaN                 NaN      9743
23                 NaN                 NaN      5982
24                 8.0                14.0     11927
25                 8.0                 NaN     16662
26                 NaN                 NaN      5887
27                14.0                 NaN      6973
28                 8.0                14.0      5391
29                 4.0                 8.0     16352
..                 ...                 ...       ...
70                 NaN                 NaN      1780
71                 4.0                 9.0     10754
72                 8.0                 9.0      2802
73                 2.0                 5.0     19473
74                 2.0                 NaN     19672
75                14.0                16.0     19313
76                 2.0                13.0     15182
77                 3.0                15.0     15985
78                 9.0                14.0     16454
79                 4.0                 5.0     13551
80                 5.0                 NaN       697
81                 6.0                 NaN      7030
82                 6.0                13.0      5430
83                14.0                 NaN      8011
84                16.0                 NaN      5912
85                11.0                15.0      7746
86                 NaN                 NaN     19525
87                 2.0                15.0     11959
88                 2.0                15.0     19172
89                11.0                 NaN      8773
90                 5.0                 NaN     11023
91                 NaN                 NaN      4654
92                 NaN                 NaN      4664
93                 4.0                12.0      8290
94                14.0                 NaN      7011
95                 2.0                 4.0      4211
96                 NaN                 NaN      1539
97                12.0                 NaN      3055
98                 8.0                17.0     12099
99                 8.0                 NaN      8797

[100 rows x 12 columns]

In [94]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 12 columns):
User_ID                       65499 non-null int64
Product_ID                    65499 non-null object
Gender                        65499 non-null object
Age                           65499 non-null object
Occupation                    65499 non-null int64
City_Category                 65499 non-null object
Stay_In_Current_City_Years    65499 non-null object
Marital_Status                65499 non-null int64
Product_Category_1            65499 non-null int64
Product_Category_2            44908 non-null float64
Product_Category_3            19886 non-null float64
Purchase                      65499 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 6.0+ MB
None

In [95]:
# From examing data in previous two lines it is evident that there is missing values in  
# columns Product_Category_2 and Product_Category_3
# The Below script iterates through the columns of the dataframe, locates null values, 
# And sums all instances of a null value. If the column contains at least one null value
# Then it sets all instances of the Nan value to 0

for column in df:
    print(column)
    isnul = df[column].isnull()
    totalNull = sum(isnul)
    print(totalNull)
    if totalNull != 0:
        df[column][isnul] = 0
        isnul = df[column].isnull()
        totalNull = sum(isnul)
        print(totalNull)

User_ID
0
Product_ID
0
Gender
0
Age
0
Occupation
0
City_Category
0
Stay_In_Current_City_Years
0
Marital_Status
0
Product_Category_1
0
Product_Category_2
20591
0
Product_Category_3

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

45613
0
Purchase
0

In [96]:
# Checks that all Nan values have been replaced with 0
print(df[['Product_Category_2', 'Product_Category_3']])

       Product_Category_2  Product_Category_3
0                     0.0                 0.0
1                     6.0                14.0
2                     0.0                 0.0
3                    14.0                 0.0
4                     0.0                 0.0
5                     2.0                 0.0
6                     8.0                17.0
7                    15.0                 0.0
8                    16.0                 0.0
9                     0.0                 0.0
10                   11.0                 0.0
11                    0.0                 0.0
12                    0.0                 0.0
13                    2.0                 5.0
14                    8.0                14.0
15                    5.0                 0.0
16                    3.0                 4.0
17                   14.0                 0.0
18                   14.0                16.0
19                    5.0                15.0
20                   14.0                 0.0
21                    0.0                 0.0
22                    0.0                 0.0
23                    0.0                 0.0
24                    8.0                14.0
25                    8.0                 0.0
26                    0.0                 0.0
27                   14.0                 0.0
28                    8.0                14.0
29                    4.0                 8.0
...                   ...                 ...
65469                 0.0                 0.0
65470                 0.0                 0.0
65471                 9.0                 0.0
65472                 0.0                 0.0
65473                 2.0                 5.0
65474                15.0                 0.0
65475                15.0                 0.0
65476                15.0                16.0
65477                 2.0                15.0
65478                15.0                 0.0
65479                 2.0                 9.0
65480                 2.0                 6.0
65481                 0.0                 0.0
65482                 8.0                 0.0
65483                 0.0                 0.0
65484                 8.0                17.0
65485                 6.0                14.0
65486                16.0                 0.0
65487                 4.0                 5.0
65488                 0.0                 0.0
65489                 0.0                 0.0
65490                 0.0                 0.0
65491                 0.0                 0.0
65492                 0.0                 0.0
65493                 5.0                 0.0
65494                12.0                14.0
65495                 0.0                 0.0
65496                 0.0                 0.0
65497                 0.0                 0.0
65498                 0.0                 0.0

[65499 rows x 2 columns]

In [97]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# Example of hot one encoding 

[How To Hot One Encode Sequence Data In Python](https://machinelearningmastery.com/how-to-one-hot-encode-sequence-data-in-python// "Title")

In [98]:
# The next four sections of code are from an online example on how to hot one encode data
# I learned how this code works by running each section and then in later rows apply it to my data
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = array(data)
print(values)
print(type(values))

['cold' 'cold' 'warm' 'cold' 'hot' 'hot' 'warm' 'cold' 'warm' 'hot']
<class 'numpy.ndarray'>

In [99]:
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)
print(integer_encoded)

[0 0 2 0 1 1 2 0 2 1]

In [100]:
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

[[ 1.  0.  0.]
 [ 1.  0.  0.]
 [ 0.  0.  1.]
 [ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [ 1.  0.  0.]
 [ 0.  0.  1.]
 [ 0.  1.  0.]]

In [101]:
# invert first example
inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
print(inverted)

['cold']

# Hot One Encoding My Data Based On the Example

## Hot One Encoding Gender

In [102]:
# Define an array containing gender column data from df
gender = array(df['Gender'])

In [103]:
# integer encode the gender data from the gender array
label_encoder = LabelEncoder()
gender_integer_encoded = label_encoder.fit_transform(gender)
print(gender_integer_encoded)

[0 0 0 ..., 1 1 1]

In [104]:
# binary encode the gender data from the integer encoded data
onehot_encoder = OneHotEncoder(sparse=False)
gender_integer_encoded = gender_integer_encoded.reshape(len(gender_integer_encoded), 1)
gender_onehot_encoded = onehot_encoder.fit_transform(gender_integer_encoded)
print(gender_onehot_encoded)
print(type(gender_onehot_encoded))

[[ 1.  0.]
 [ 1.  0.]
 [ 1.  0.]
 ...,
 [ 0.  1.]
 [ 0.  1.]
 [ 0.  1.]]
<class 'numpy.ndarray'>

In [105]:
# Converts the hot one encoded data into a dataframe with columns 'F' for female and 'M' for male
dfGender = pd.DataFrame(data=gender_onehot_encoded, columns=['F','M'])
print(dfGender)

         F    M
0      1.0  0.0
1      1.0  0.0
2      1.0  0.0
3      1.0  0.0
4      0.0  1.0
5      0.0  1.0
6      0.0  1.0
7      0.0  1.0
8      0.0  1.0
9      0.0  1.0
10     0.0  1.0
11     0.0  1.0
12     0.0  1.0
13     0.0  1.0
14     1.0  0.0
15     1.0  0.0
16     1.0  0.0
17     1.0  0.0
18     0.0  1.0
19     0.0  1.0
20     0.0  1.0
21     0.0  1.0
22     0.0  1.0
23     0.0  1.0
24     0.0  1.0
25     0.0  1.0
26     0.0  1.0
27     0.0  1.0
28     0.0  1.0
29     1.0  0.0
...    ...  ...
65469  0.0  1.0
65470  0.0  1.0
65471  0.0  1.0
65472  0.0  1.0
65473  0.0  1.0
65474  0.0  1.0
65475  0.0  1.0
65476  0.0  1.0
65477  0.0  1.0
65478  0.0  1.0
65479  0.0  1.0
65480  0.0  1.0
65481  0.0  1.0
65482  0.0  1.0
65483  0.0  1.0
65484  0.0  1.0
65485  0.0  1.0
65486  0.0  1.0
65487  0.0  1.0
65488  0.0  1.0
65489  0.0  1.0
65490  0.0  1.0
65491  0.0  1.0
65492  0.0  1.0
65493  0.0  1.0
65494  0.0  1.0
65495  0.0  1.0
65496  0.0  1.0
65497  0.0  1.0
65498  0.0  1.0

[65499 rows x 2 columns]

## Hot One Encoding Age

In [106]:
# Define an array containing age column data from df
ageArray = array(df['Age'])

In [107]:
# integer encode the gender data from the age array
label_encoder = LabelEncoder()
age_integer_encoded = label_encoder.fit_transform(ageArray)
print(age_integer_encoded)

[0 0 0 ..., 2 2 2]

In [108]:
# binary encode the age data from the integer encoded data
onehot_encoder = OneHotEncoder(sparse=False)
age_integer_encoded = age_integer_encoded.reshape(len(age_integer_encoded), 1)
age_onehot_encoded = onehot_encoder.fit_transform(age_integer_encoded)
print(age_onehot_encoded)

[[ 1.  0.  0. ...,  0.  0.  0.]
 [ 1.  0.  0. ...,  0.  0.  0.]
 [ 1.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  1. ...,  0.  0.  0.]
 [ 0.  0.  1. ...,  0.  0.  0.]
 [ 0.  0.  1. ...,  0.  0.  0.]]

In [109]:
#Creates a set of column titles based on the age range categories
ageColumns = set(df['Age'])
ageColumns = list(ageColumns)
ageColumns.sort()
print(ageColumns)

['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+']

In [110]:
# Converts the hot one encoded data into a dataframe with columns created in previous row
dfAge = pd.DataFrame(data=age_onehot_encoded, columns=ageColumns)
print(dfAge)

       0-17  18-25  26-35  36-45  46-50  51-55  55+
0       1.0    0.0    0.0    0.0    0.0    0.0  0.0
1       1.0    0.0    0.0    0.0    0.0    0.0  0.0
2       1.0    0.0    0.0    0.0    0.0    0.0  0.0
3       1.0    0.0    0.0    0.0    0.0    0.0  0.0
4       0.0    0.0    0.0    0.0    0.0    0.0  1.0
5       0.0    0.0    1.0    0.0    0.0    0.0  0.0
6       0.0    0.0    0.0    0.0    1.0    0.0  0.0
7       0.0    0.0    0.0    0.0    1.0    0.0  0.0
8       0.0    0.0    0.0    0.0    1.0    0.0  0.0
9       0.0    0.0    1.0    0.0    0.0    0.0  0.0
10      0.0    0.0    1.0    0.0    0.0    0.0  0.0
11      0.0    0.0    1.0    0.0    0.0    0.0  0.0
12      0.0    0.0    1.0    0.0    0.0    0.0  0.0
13      0.0    0.0    1.0    0.0    0.0    0.0  0.0
14      0.0    0.0    0.0    0.0    0.0    1.0  0.0
15      0.0    0.0    0.0    0.0    0.0    1.0  0.0
16      0.0    0.0    0.0    0.0    0.0    1.0  0.0
17      0.0    0.0    0.0    0.0    0.0    1.0  0.0
18      0.0    0.0    0.0    1.0    0.0    0.0  0.0
19      0.0    0.0    1.0    0.0    0.0    0.0  0.0
20      0.0    0.0    1.0    0.0    0.0    0.0  0.0
21      0.0    0.0    1.0    0.0    0.0    0.0  0.0
22      0.0    0.0    1.0    0.0    0.0    0.0  0.0
23      0.0    0.0    1.0    0.0    0.0    0.0  0.0
24      0.0    0.0    1.0    0.0    0.0    0.0  0.0
25      0.0    0.0    1.0    0.0    0.0    0.0  0.0
26      0.0    0.0    1.0    0.0    0.0    0.0  0.0
27      0.0    0.0    1.0    0.0    0.0    0.0  0.0
28      0.0    0.0    1.0    0.0    0.0    0.0  0.0
29      0.0    0.0    0.0    1.0    0.0    0.0  0.0
...     ...    ...    ...    ...    ...    ...  ...
65469   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65470   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65471   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65472   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65473   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65474   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65475   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65476   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65477   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65478   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65479   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65480   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65481   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65482   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65483   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65484   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65485   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65486   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65487   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65488   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65489   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65490   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65491   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65492   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65493   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65494   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65495   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65496   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65497   0.0    0.0    1.0    0.0    0.0    0.0  0.0
65498   0.0    0.0    1.0    0.0    0.0    0.0  0.0

[65499 rows x 7 columns]

## Hot One Encoding Occupation

In [111]:
# Define an array containing occupation column data from df
occupationArray = array(df['Occupation'])
print(occupationArray)

[10 10 10 ...,  4  4  4]

In [112]:
# binary encode the occupation data directly because its raw form was integer encoded
onehot_encoder = OneHotEncoder(sparse=False)
occupation_integer_encoded = occupationArray.reshape(len(occupationArray), 1)
occupation_onehot_encoded = onehot_encoder.fit_transform(occupation_integer_encoded)
print(occupation_onehot_encoded)

[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [113]:
#Creates a set of column titles based on the occupation categories
occupationColumns = set(df['Occupation'])
occupationColumns = list(occupationColumns)
occupationColumns.sort()
print(occupationColumns)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [114]:
# Converts the hot one encoded data into a dataframe with columns created in previous row
dfOccupation = pd.DataFrame(data=occupation_onehot_encoded, columns=occupationColumns)
print(dfOccupation)

        0    1    2    3    4    5    6    7    8    9  ...    11   12   13  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
5      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
6      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0  0.0  0.0
7      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0  0.0  0.0
8      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0  0.0  0.0
9      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
10     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
11     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
12     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
13     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
14     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0  0.0  0.0
15     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0  0.0  0.0
16     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0  0.0  0.0
17     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0  0.0  0.0
18     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
19     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
20     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
21     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
22     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
23     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
24     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  1.0  0.0
25     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
26     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
27     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
28     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
29     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ... ...   ...  ...  ...
65469  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65470  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65471  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65472  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65473  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65474  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65475  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65476  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65477  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65478  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65479  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65480  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65481  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65482  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65483  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65484  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65485  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65486  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65487  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65488  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65489  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65490  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65491  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65492  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65493  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65494  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65495  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65496  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65497  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
65498  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0

        14   15   16   17   18   19   20
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  1.0  0.0  0.0  0.0  0.0
5      0.0  1.0  0.0  0.0  0.0  0.0  0.0
6      0.0  0.0  0.0  0.0  0.0  0.0  0.0
7      0.0  0.0  0.0  0.0  0.0  0.0  0.0
8      0.0  0.0  0.0  0.0  0.0  0.0  0.0
9      0.0  0.0  0.0  0.0  0.0  0.0  1.0
10     0.0  0.0  0.0  0.0  0.0  0.0  1.0
11     0.0  0.0  0.0  0.0  0.0  0.0  1.0
12     0.0  0.0  0.0  0.0  0.0  0.0  1.0
13     0.0  0.0  0.0  0.0  0.0  0.0  1.0
14     0.0  0.0  0.0  0.0  0.0  0.0  0.0
15     0.0  0.0  0.0  0.0  0.0  0.0  0.0
16     0.0  0.0  0.0  0.0  0.0  0.0  0.0
17     0.0  0.0  0.0  0.0  0.0  0.0  0.0
18     0.0  0.0  0.0  0.0  0.0  0.0  0.0
19     0.0  0.0  0.0  0.0  0.0  0.0  0.0
20     0.0  0.0  0.0  0.0  0.0  0.0  0.0
21     0.0  0.0  0.0  0.0  0.0  0.0  0.0
22     0.0  0.0  0.0  0.0  0.0  0.0  0.0
23     0.0  0.0  0.0  0.0  0.0  0.0  0.0
24     0.0  0.0  0.0  0.0  0.0  0.0  0.0
25     0.0  0.0  0.0  1.0  0.0  0.0  0.0
26     0.0  0.0  0.0  1.0  0.0  0.0  0.0
27     0.0  0.0  0.0  1.0  0.0  0.0  0.0
28     0.0  0.0  0.0  1.0  0.0  0.0  0.0
29     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
65469  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65470  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65471  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65472  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65473  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65474  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65475  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65476  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65477  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65478  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65479  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65480  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65481  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65482  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65483  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65484  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65485  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65486  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65487  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65488  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65489  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65490  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65491  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65492  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65493  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65494  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65495  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65496  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65497  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65498  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[65499 rows x 21 columns]

## Hot One Encoding City Category

In [115]:
# Define an array containing city category column data from df
city_catArray = array(df['City_Category'])

In [116]:
# integer encode the city category data
label_encoder = LabelEncoder()
city_cat_integer_encoded = label_encoder.fit_transform(city_catArray)
print(city_cat_integer_encoded)

[0 0 0 ..., 0 0 0]

In [117]:
# binary encode the integer encoded data from previous step
city_cat_onehot_encoder = OneHotEncoder(sparse=False)
city_cat_integer_encoded = city_cat_integer_encoded.reshape(len(city_cat_integer_encoded), 1)
city_cat_onehot_encoded = onehot_encoder.fit_transform(city_cat_integer_encoded)
print(city_cat_onehot_encoded)

[[ 1.  0.  0.]
 [ 1.  0.  0.]
 [ 1.  0.  0.]
 ...,
 [ 1.  0.  0.]
 [ 1.  0.  0.]
 [ 1.  0.  0.]]

In [118]:
# creates column names for the city categories
City_Cat_Columns = set(df['City_Category'])
City_Cat_Columns = list(City_Cat_Columns)
City_Cat_Columns.sort()
print(City_Cat_Columns)

['A', 'B', 'C']

In [119]:
# creates a data frame out of the one hot encoded data with column titles created in previous step
dfCityCat = pd.DataFrame(data=city_cat_onehot_encoded, columns=City_Cat_Columns)
print(dfCityCat)

         A    B    C
0      1.0  0.0  0.0
1      1.0  0.0  0.0
2      1.0  0.0  0.0
3      1.0  0.0  0.0
4      0.0  0.0  1.0
5      1.0  0.0  0.0
6      0.0  1.0  0.0
7      0.0  1.0  0.0
8      0.0  1.0  0.0
9      1.0  0.0  0.0
10     1.0  0.0  0.0
11     1.0  0.0  0.0
12     1.0  0.0  0.0
13     1.0  0.0  0.0
14     1.0  0.0  0.0
15     1.0  0.0  0.0
16     1.0  0.0  0.0
17     1.0  0.0  0.0
18     0.0  1.0  0.0
19     0.0  0.0  1.0
20     0.0  0.0  1.0
21     0.0  0.0  1.0
22     0.0  0.0  1.0
23     0.0  0.0  1.0
24     0.0  0.0  1.0
25     0.0  0.0  1.0
26     0.0  0.0  1.0
27     0.0  0.0  1.0
28     0.0  0.0  1.0
29     0.0  1.0  0.0
...    ...  ...  ...
65469  1.0  0.0  0.0
65470  1.0  0.0  0.0
65471  1.0  0.0  0.0
65472  1.0  0.0  0.0
65473  1.0  0.0  0.0
65474  1.0  0.0  0.0
65475  1.0  0.0  0.0
65476  1.0  0.0  0.0
65477  1.0  0.0  0.0
65478  1.0  0.0  0.0
65479  1.0  0.0  0.0
65480  1.0  0.0  0.0
65481  1.0  0.0  0.0
65482  1.0  0.0  0.0
65483  1.0  0.0  0.0
65484  1.0  0.0  0.0
65485  1.0  0.0  0.0
65486  1.0  0.0  0.0
65487  1.0  0.0  0.0
65488  1.0  0.0  0.0
65489  1.0  0.0  0.0
65490  1.0  0.0  0.0
65491  1.0  0.0  0.0
65492  1.0  0.0  0.0
65493  1.0  0.0  0.0
65494  1.0  0.0  0.0
65495  1.0  0.0  0.0
65496  1.0  0.0  0.0
65497  1.0  0.0  0.0
65498  1.0  0.0  0.0

[65499 rows x 3 columns]

# Merging Data Frames of One Hot Encoded Data

In [120]:
# creates a single dataframe with the original data frame and all of the hot one encoded data concatenated
df2 = pd.concat([df, dfGender, dfAge, dfOccupation, dfCityCat], axis=1, join='inner')

In [121]:
print(df2)

       User_ID Product_ID Gender    Age  Occupation City_Category  \
0      1000001  P00069042      F   0-17          10             A
1      1000001  P00248942      F   0-17          10             A
2      1000001  P00087842      F   0-17          10             A
3      1000001  P00085442      F   0-17          10             A
4      1000002  P00285442      M    55+          16             C
5      1000003  P00193542      M  26-35          15             A
6      1000004  P00184942      M  46-50           7             B
7      1000004  P00346142      M  46-50           7             B
8      1000004   P0097242      M  46-50           7             B
9      1000005  P00274942      M  26-35          20             A
10     1000005  P00251242      M  26-35          20             A
11     1000005  P00014542      M  26-35          20             A
12     1000005  P00031342      M  26-35          20             A
13     1000005  P00145042      M  26-35          20             A
14     1000006  P00231342      F  51-55           9             A
15     1000006  P00190242      F  51-55           9             A
16     1000006   P0096642      F  51-55           9             A
17     1000006  P00058442      F  51-55           9             A
18     1000007  P00036842      M  36-45           1             B
19     1000008  P00249542      M  26-35          12             C
20     1000008  P00220442      M  26-35          12             C
21     1000008  P00156442      M  26-35          12             C
22     1000008  P00213742      M  26-35          12             C
23     1000008  P00214442      M  26-35          12             C
24     1000008  P00303442      M  26-35          12             C
25     1000009  P00135742      M  26-35          17             C
26     1000009  P00039942      M  26-35          17             C
27     1000009  P00161442      M  26-35          17             C
28     1000009  P00078742      M  26-35          17             C
29     1000010  P00085942      F  36-45           1             B
...        ...        ...    ...    ...         ...           ...
65469  1004028  P00005142      M  26-35           4             A
65470  1004028  P00285842      M  26-35           4             A
65471  1004028  P00259342      M  26-35           4             A
65472  1004028  P00296242      M  26-35           4             A
65473  1004028  P00251942      M  26-35           4             A
65474  1004028  P00233642      M  26-35           4             A
65475  1004028  P00233842      M  26-35           4             A
65476  1004028  P00114942      M  26-35           4             A
65477  1004028  P00125942      M  26-35           4             A
65478  1004028  P00220142      M  26-35           4             A
65479  1004028  P00242742      M  26-35           4             A
65480  1004028  P00042142      M  26-35           4             A
65481  1004028  P00271142      M  26-35           4             A
65482  1004028  P00129442      M  26-35           4             A
65483  1004028  P00282742      M  26-35           4             A
65484  1004028  P00282242      M  26-35           4             A
65485  1004028  P00140442      M  26-35           4             A
65486  1004028  P00016042      M  26-35           4             A
65487  1004028  P00187142      M  26-35           4             A
65488  1004028  P00042842      M  26-35           4             A
65489  1004028  P00283942      M  26-35           4             A
65490  1004028  P00327542      M  26-35           4             A
65491  1004028  P00013742      M  26-35           4             A
65492  1004028  P00074242      M  26-35           4             A
65493  1004028  P00298942      M  26-35           4             A
65494  1004028  P00128342      M  26-35           4             A
65495  1004028  P00344842      M  26-35           4             A
65496  1004028  P00120142      M  26-35           4             A
65497  1004028  P00107442      M  26-35           4             A
65498  1004028  P00134142      M  26-35           4             A

      Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                              2               0                   3
1                              2               0                   1
2                              2               0                  12
3                              2               0                  12
4                             4+               0                   8
5                              3               0                   1
6                              2               1                   1
7                              2               1                   1
8                              2               1                   1
9                              1               1                   8
10                             1               1                   5
11                             1               1                   8
12                             1               1                   8
13                             1               1                   1
14                             1               0                   5
15                             1               0                   4
16                             1               0                   2
17                             1               0                   5
18                             1               1                   1
19                            4+               1                   1
20                            4+               1                   5
21                            4+               1                   8
22                            4+               1                   8
23                            4+               1                   8
24                            4+               1                   1
25                             0               0                   6
26                             0               0                   8
27                             0               0                   5
28                             0               0                   5
29                            4+               1                   2
...                          ...             ...                 ...
65469                          2               0                   5
65470                          2               0                   5
65471                          2               0                   5
65472                          2               0                   8
65473                          2               0                   1
65474                          2               0                   1
65475                          2               0                   1
65476                          2               0                   1
65477                          2               0                   1
65478                          2               0                   1
65479                          2               0                   1
65480                          2               0                   1
65481                          2               0                   5
65482                          2               0                   5
65483                          2               0                   5
65484                          2               0                   5
65485                          2               0                   1
65486                          2               0                   1
65487                          2               0                   2
65488                          2               0                   5
65489                          2               0                   5
65490                          2               0                   5
65491                          2               0                   5
65492                          2               0                   5
65493                          2               0                   1
65494                          2               0                   5
65495                          2               0                   5
65496                          2               0                   5
65497                          2               0                   5
65498                          2               0                   5

       Product_Category_2 ...    14   15   16   17   18   19   20    A    B  \
0                     0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1                     6.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2                     0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3                    14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4                     0.0 ...   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
5                     2.0 ...   0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6                     8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
7                    15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
8                    16.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
9                     0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
10                   11.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
11                    0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
12                    0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
13                    2.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
14                    8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
15                    5.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
16                    3.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17                   14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
18                   14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
19                    5.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20                   14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21                    0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
22                    0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
23                    0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
24                    8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25                    8.0 ...   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
26                    0.0 ...   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
27                   14.0 ...   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
28                    8.0 ...   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
29                    4.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
...                   ... ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
65469                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65470                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65471                 9.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65472                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65473                 2.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65474                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65475                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65476                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65477                 2.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65478                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65479                 2.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65480                 2.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65481                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65482                 8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65483                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65484                 8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65485                 6.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65486                16.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65487                 4.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65488                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65489                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65490                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65491                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65492                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65493                 5.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65494                12.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65495                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65496                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65497                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
65498                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

         C
0      0.0
1      0.0
2      0.0
3      0.0
4      1.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     0.0
...    ...
65469  0.0
65470  0.0
65471  0.0
65472  0.0
65473  0.0
65474  0.0
65475  0.0
65476  0.0
65477  0.0
65478  0.0
65479  0.0
65480  0.0
65481  0.0
65482  0.0
65483  0.0
65484  0.0
65485  0.0
65486  0.0
65487  0.0
65488  0.0
65489  0.0
65490  0.0
65491  0.0
65492  0.0
65493  0.0
65494  0.0
65495  0.0
65496  0.0
65497  0.0
65498  0.0

[65499 rows x 45 columns]

In [122]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 45 columns):
User_ID                       65499 non-null int64
Product_ID                    65499 non-null object
Gender                        65499 non-null object
Age                           65499 non-null object
Occupation                    65499 non-null int64
City_Category                 65499 non-null object
Stay_In_Current_City_Years    65499 non-null object
Marital_Status                65499 non-null int64
Product_Category_1            65499 non-null int64
Product_Category_2            65499 non-null float64
Product_Category_3            65499 non-null float64
Purchase                      65499 non-null int64
F                             65499 non-null float64
M                             65499 non-null float64
0-17                          65499 non-null float64
18-25                         65499 non-null float64
26-35                         65499 non-null float64
36-45                         65499 non-null float64
46-50                         65499 non-null float64
51-55                         65499 non-null float64
55+                           65499 non-null float64
0                             65499 non-null float64
1                             65499 non-null float64
2                             65499 non-null float64
3                             65499 non-null float64
4                             65499 non-null float64
5                             65499 non-null float64
6                             65499 non-null float64
7                             65499 non-null float64
8                             65499 non-null float64
9                             65499 non-null float64
10                            65499 non-null float64
11                            65499 non-null float64
12                            65499 non-null float64
13                            65499 non-null float64
14                            65499 non-null float64
15                            65499 non-null float64
16                            65499 non-null float64
17                            65499 non-null float64
18                            65499 non-null float64
19                            65499 non-null float64
20                            65499 non-null float64
A                             65499 non-null float64
B                             65499 non-null float64
C                             65499 non-null float64
dtypes: float64(35), int64(5), object(5)
memory usage: 22.5+ MB
None

## Split Data into train (75%) and test (25%) data sets

In [123]:
# Creates location markers for splitting the data frame into a train portion and a test portion
trainDataEndLoc = int(len(df2)*.75)
testDataStartLoc = trainDataEndLoc + 1

In [124]:
# Uses location marker to create train data set
trainDf = df2.iloc[0:trainDataEndLoc,:]
print(trainDf.head(10))
print(trainDf.info())

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1000001  P00069042      F   0-17          10             A
1  1000001  P00248942      F   0-17          10             A
2  1000001  P00087842      F   0-17          10             A
3  1000001  P00085442      F   0-17          10             A
4  1000002  P00285442      M    55+          16             C
5  1000003  P00193542      M  26-35          15             A
6  1000004  P00184942      M  46-50           7             B
7  1000004  P00346142      M  46-50           7             B
8  1000004   P0097242      M  46-50           7             B
9  1000005  P00274942      M  26-35          20             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8
5                          3               0                   1
6                          2               1                   1
7                          2               1                   1
8                          2               1                   1
9                          1               1                   8

   Product_Category_2 ...    14   15   16   17   18   19   20    A    B    C
0                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1                 6.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3                14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4                 0.0 ...   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5                 2.0 ...   0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6                 8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
7                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
8                16.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
9                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0

[10 rows x 45 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49124 entries, 0 to 49123
Data columns (total 45 columns):
User_ID                       49124 non-null int64
Product_ID                    49124 non-null object
Gender                        49124 non-null object
Age                           49124 non-null object
Occupation                    49124 non-null int64
City_Category                 49124 non-null object
Stay_In_Current_City_Years    49124 non-null object
Marital_Status                49124 non-null int64
Product_Category_1            49124 non-null int64
Product_Category_2            49124 non-null float64
Product_Category_3            49124 non-null float64
Purchase                      49124 non-null int64
F                             49124 non-null float64
M                             49124 non-null float64
0-17                          49124 non-null float64
18-25                         49124 non-null float64
26-35                         49124 non-null float64
36-45                         49124 non-null float64
46-50                         49124 non-null float64
51-55                         49124 non-null float64
55+                           49124 non-null float64
0                             49124 non-null float64
1                             49124 non-null float64
2                             49124 non-null float64
3                             49124 non-null float64
4                             49124 non-null float64
5                             49124 non-null float64
6                             49124 non-null float64
7                             49124 non-null float64
8                             49124 non-null float64
9                             49124 non-null float64
10                            49124 non-null float64
11                            49124 non-null float64
12                            49124 non-null float64
13                            49124 non-null float64
14                            49124 non-null float64
15                            49124 non-null float64
16                            49124 non-null float64
17                            49124 non-null float64
18                            49124 non-null float64
19                            49124 non-null float64
20                            49124 non-null float64
A                             49124 non-null float64
B                             49124 non-null float64
C                             49124 non-null float64
dtypes: float64(35), int64(5), object(5)
memory usage: 16.9+ MB
None

In [125]:
# Uses location marker to create test data portion
testDf = df2.iloc[0:testDataStartLoc,:]
print(testDf.head(10))
print(testDf.info())

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1000001  P00069042      F   0-17          10             A
1  1000001  P00248942      F   0-17          10             A
2  1000001  P00087842      F   0-17          10             A
3  1000001  P00085442      F   0-17          10             A
4  1000002  P00285442      M    55+          16             C
5  1000003  P00193542      M  26-35          15             A
6  1000004  P00184942      M  46-50           7             B
7  1000004  P00346142      M  46-50           7             B
8  1000004   P0097242      M  46-50           7             B
9  1000005  P00274942      M  26-35          20             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8
5                          3               0                   1
6                          2               1                   1
7                          2               1                   1
8                          2               1                   1
9                          1               1                   8

   Product_Category_2 ...    14   15   16   17   18   19   20    A    B    C
0                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1                 6.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3                14.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4                 0.0 ...   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5                 2.0 ...   0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6                 8.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
7                15.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
8                16.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
9                 0.0 ...   0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0

[10 rows x 45 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49125 entries, 0 to 49124
Data columns (total 45 columns):
User_ID                       49125 non-null int64
Product_ID                    49125 non-null object
Gender                        49125 non-null object
Age                           49125 non-null object
Occupation                    49125 non-null int64
City_Category                 49125 non-null object
Stay_In_Current_City_Years    49125 non-null object
Marital_Status                49125 non-null int64
Product_Category_1            49125 non-null int64
Product_Category_2            49125 non-null float64
Product_Category_3            49125 non-null float64
Purchase                      49125 non-null int64
F                             49125 non-null float64
M                             49125 non-null float64
0-17                          49125 non-null float64
18-25                         49125 non-null float64
26-35                         49125 non-null float64
36-45                         49125 non-null float64
46-50                         49125 non-null float64
51-55                         49125 non-null float64
55+                           49125 non-null float64
0                             49125 non-null float64
1                             49125 non-null float64
2                             49125 non-null float64
3                             49125 non-null float64
4                             49125 non-null float64
5                             49125 non-null float64
6                             49125 non-null float64
7                             49125 non-null float64
8                             49125 non-null float64
9                             49125 non-null float64
10                            49125 non-null float64
11                            49125 non-null float64
12                            49125 non-null float64
13                            49125 non-null float64
14                            49125 non-null float64
15                            49125 non-null float64
16                            49125 non-null float64
17                            49125 non-null float64
18                            49125 non-null float64
19                            49125 non-null float64
20                            49125 non-null float64
A                             49125 non-null float64
B                             49125 non-null float64
C                             49125 non-null float64
dtypes: float64(35), int64(5), object(5)
memory usage: 16.9+ MB
None

In [126]:
# Create three empty 20 x 49125 array
# Loop over product_cat_x 
# Turns corresponding array value to True 
# Adds three arrays together

In [127]:
trainDf.Product_Category_2 = trainDf.Product_Category_2.astype(int)
#print(trainDf.Product_Category_2)
trainDf.Product_Category_3 = trainDf.Product_Category_3.astype(int)
#print(trainDf.Product_Category_3)

/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [128]:
# Creates three empty arrays with equivalent rows as the data frame and 
# Eighteen columns to represent each category of product 
x = []
Product_Category_List = ['Product_Category_1', 'Product_Category_2', 'Product_Category_3']
for i in range(3):
    temp = np.zeros((49125, 18))
    x.append(temp)

print(x)

[array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]]), array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]]), array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])]

In [129]:
# Iterates over each entry in the product category column x and 
# Sets the corresponding entry in the empty array to a 1
y = []

for product_cat, array in zip(Product_Category_List, x):
    print(product_cat)
    for index, entry in enumerate(trainDf[product_cat][:]):
        #print(str(index) + ": " + str(entry))
        if entry == 0:
            continue
            
        else:
            array[index, (entry-1)] = 1 
            #print(entry, product_cat)
            
    y.append(array)

Product_Category_1
Product_Category_2
Product_Category_3

In [130]:
# Testing values got updated correctly
print(y[1][0:5,:])

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]]

In [131]:
# Sums three arrays together to create a single array containing all product category data hot one encoded 
# Converts array to dataframe 
z = sum(y)
z = pd.DataFrame(z)

In [132]:
# Combines occupation data from previous step to trainDf data frame
trainDf2 = pd.concat([trainDf, z], axis=1, join='inner')

In [133]:
trainDf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49124 entries, 0 to 49123
Data columns (total 63 columns):
User_ID                       49124 non-null int64
Product_ID                    49124 non-null object
Gender                        49124 non-null object
Age                           49124 non-null object
Occupation                    49124 non-null int64
City_Category                 49124 non-null object
Stay_In_Current_City_Years    49124 non-null object
Marital_Status                49124 non-null int64
Product_Category_1            49124 non-null int64
Product_Category_2            49124 non-null int64
Product_Category_3            49124 non-null int64
Purchase                      49124 non-null int64
F                             49124 non-null float64
M                             49124 non-null float64
0-17                          49124 non-null float64
18-25                         49124 non-null float64
26-35                         49124 non-null float64
36-45                         49124 non-null float64
46-50                         49124 non-null float64
51-55                         49124 non-null float64
55+                           49124 non-null float64
0                             49124 non-null float64
1                             49124 non-null float64
2                             49124 non-null float64
3                             49124 non-null float64
4                             49124 non-null float64
5                             49124 non-null float64
6                             49124 non-null float64
7                             49124 non-null float64
8                             49124 non-null float64
9                             49124 non-null float64
10                            49124 non-null float64
11                            49124 non-null float64
12                            49124 non-null float64
13                            49124 non-null float64
14                            49124 non-null float64
15                            49124 non-null float64
16                            49124 non-null float64
17                            49124 non-null float64
18                            49124 non-null float64
19                            49124 non-null float64
20                            49124 non-null float64
A                             49124 non-null float64
B                             49124 non-null float64
C                             49124 non-null float64
0                             49124 non-null float64
1                             49124 non-null float64
2                             49124 non-null float64
3                             49124 non-null float64
4                             49124 non-null float64
5                             49124 non-null float64
6                             49124 non-null float64
7                             49124 non-null float64
8                             49124 non-null float64
9                             49124 non-null float64
10                            49124 non-null float64
11                            49124 non-null float64
12                            49124 non-null float64
13                            49124 non-null float64
14                            49124 non-null float64
15                            49124 non-null float64
16                            49124 non-null float64
17                            49124 non-null float64
dtypes: float64(51), int64(7), object(5)
memory usage: 23.6+ MB

In [134]:
# Generates map of new names for occupation data based on old names
newNames = []
for i in range(21):
    temp = 'Occupation_' + str(i)
    newNames.append(temp)
    #print(temp)
   
oldNames = range(21)

dictionary = dict(zip(oldNames, newNames))

print(dictionary)

{0: 'Occupation_0', 1: 'Occupation_1', 2: 'Occupation_2', 3: 'Occupation_3', 4: 'Occupation_4', 5: 'Occupation_5', 6: 'Occupation_6', 7: 'Occupation_7', 8: 'Occupation_8', 9: 'Occupation_9', 10: 'Occupation_10', 11: 'Occupation_11', 12: 'Occupation_12', 13: 'Occupation_13', 14: 'Occupation_14', 15: 'Occupation_15', 16: 'Occupation_16', 17: 'Occupation_17', 18: 'Occupation_18', 19: 'Occupation_19', 20: 'Occupation_20'}

In [135]:
# Renames occupation columns based on previous steps dictionary. Had to copy and paste output from last step. 
# *** NEED TO FIGURE OUT HOW TO NOT COPY AND PASTE
trainDf = trainDf.rename(columns={0: 'Occupation_0', 1: 'Occupation_1', 2: 'Occupation_2', 3: 'Occupation_3', 4: 'Occupation_4', 5: 'Occupation_5', 6: 'Occupation_6', 7: 'Occupation_7', 8: 'Occupation_8', 9: 'Occupation_9', 10: 'Occupation_10', 11: 'Occupation_11', 12: 'Occupation_12', 13: 'Occupation_13', 14: 'Occupation_14', 15: 'Occupation_15', 16: 'Occupation_16', 17: 'Occupation_17', 18: 'Occupation_18', 19: 'Occupation_19', 20: 'Occupation_20'})

In [136]:
trainDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49124 entries, 0 to 49123
Data columns (total 45 columns):
User_ID                       49124 non-null int64
Product_ID                    49124 non-null object
Gender                        49124 non-null object
Age                           49124 non-null object
Occupation                    49124 non-null int64
City_Category                 49124 non-null object
Stay_In_Current_City_Years    49124 non-null object
Marital_Status                49124 non-null int64
Product_Category_1            49124 non-null int64
Product_Category_2            49124 non-null int64
Product_Category_3            49124 non-null int64
Purchase                      49124 non-null int64
F                             49124 non-null float64
M                             49124 non-null float64
0-17                          49124 non-null float64
18-25                         49124 non-null float64
26-35                         49124 non-null float64
36-45                         49124 non-null float64
46-50                         49124 non-null float64
51-55                         49124 non-null float64
55+                           49124 non-null float64
Occupation_0                  49124 non-null float64
Occupation_1                  49124 non-null float64
Occupation_2                  49124 non-null float64
Occupation_3                  49124 non-null float64
Occupation_4                  49124 non-null float64
Occupation_5                  49124 non-null float64
Occupation_6                  49124 non-null float64
Occupation_7                  49124 non-null float64
Occupation_8                  49124 non-null float64
Occupation_9                  49124 non-null float64
Occupation_10                 49124 non-null float64
Occupation_11                 49124 non-null float64
Occupation_12                 49124 non-null float64
Occupation_13                 49124 non-null float64
Occupation_14                 49124 non-null float64
Occupation_15                 49124 non-null float64
Occupation_16                 49124 non-null float64
Occupation_17                 49124 non-null float64
Occupation_18                 49124 non-null float64
Occupation_19                 49124 non-null float64
Occupation_20                 49124 non-null float64
A                             49124 non-null float64
B                             49124 non-null float64
C                             49124 non-null float64
dtypes: float64(33), int64(7), object(5)
memory usage: 16.9+ MB

In [137]:
# Renames all other column names with more accurate/description name
trainDf = trainDf.rename(columns={'Purchase':'Purchase_Amount', 'F': 'Female', 'M': 'Male', '0-17': 'Age_0-17', '18-25': 'Age_18-25', '26-35': 'Age_26-35', '36-45': 'Age_36-45', '46-50': 'Age_46-50', '51-55': 'Age_51-55', '55+':'Age_55+', 'A':'City_Category_A', 'B': 'City_Category_B', 'C':'City_Category_C'})

In [138]:
trainDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49124 entries, 0 to 49123
Data columns (total 45 columns):
User_ID                       49124 non-null int64
Product_ID                    49124 non-null object
Gender                        49124 non-null object
Age                           49124 non-null object
Occupation                    49124 non-null int64
City_Category                 49124 non-null object
Stay_In_Current_City_Years    49124 non-null object
Marital_Status                49124 non-null int64
Product_Category_1            49124 non-null int64
Product_Category_2            49124 non-null int64
Product_Category_3            49124 non-null int64
Purchase_Amount               49124 non-null int64
Female                        49124 non-null float64
Male                          49124 non-null float64
Age_0-17                      49124 non-null float64
Age_18-25                     49124 non-null float64
Age_26-35                     49124 non-null float64
Age_36-45                     49124 non-null float64
Age_46-50                     49124 non-null float64
Age_51-55                     49124 non-null float64
Age_55+                       49124 non-null float64
Occupation_0                  49124 non-null float64
Occupation_1                  49124 non-null float64
Occupation_2                  49124 non-null float64
Occupation_3                  49124 non-null float64
Occupation_4                  49124 non-null float64
Occupation_5                  49124 non-null float64
Occupation_6                  49124 non-null float64
Occupation_7                  49124 non-null float64
Occupation_8                  49124 non-null float64
Occupation_9                  49124 non-null float64
Occupation_10                 49124 non-null float64
Occupation_11                 49124 non-null float64
Occupation_12                 49124 non-null float64
Occupation_13                 49124 non-null float64
Occupation_14                 49124 non-null float64
Occupation_15                 49124 non-null float64
Occupation_16                 49124 non-null float64
Occupation_17                 49124 non-null float64
Occupation_18                 49124 non-null float64
Occupation_19                 49124 non-null float64
Occupation_20                 49124 non-null float64
City_Category_A               49124 non-null float64
City_Category_B               49124 non-null float64
City_Category_C               49124 non-null float64
dtypes: float64(33), int64(7), object(5)
memory usage: 16.9+ MB